<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.didim365.hw1.repository.UserMapper">
    <select id="checkDuplicateId" resultType="org.didim365.hw1.entity.User">
         select *
         from DW_USER_SIGNUP
         where userid = #{userId}
    </select>

    <insert id="insertUser" parameterType="org.didim365.hw1.entity.User">
        insert into DW_USER_SIGNUP
        (userid, memNb, password, name, email, signUpDate, insertTime)
        values
        (#{userId}, #{memNb}, #{password}, #{name}, #{email}, #{signUpDate}, #{insertTime})
    </insert>

    <select id="findByUser" resultType="org.didim365.hw1.entity.User">
        select *
        from DW_USER_SIGNUP
        where userid = #{userId}
    </select>

    <select id="findByUserId" resultType="String">
        select userid
        from DW_USER_SIGNUP
        where email = #{email} and name = #{name}
    </select>

</mapper>