<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <title>HW1</title>
    <!-- Naver map open API -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=f0g29hw3k3&submodules=geocoder"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- 외부 스타일 시트를 링크합니다. -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <script src="/js/basic.js"></script>

    <!-- layout include js -->
    <script src="/js/layout.js"></script>
</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-include-path="nav.html">
</nav>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2" style="font-family: 'Poppins', sans-serif;">도로명 주소를 찾으시나요?</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <div class="col-sm-10" id="box_search">
                            <input type="text" id="address" name="address" class="form-control" placeholder="검색할 주소">
                        </div>
                        <input id="submit" class="btn btn-primary" type="button" onclick="searchAddress()" value="주소 검색">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="list-group">
    </div>
</section>
</body>
<script>
    function searchAddress(){
        var juso = $('#address').val();
        $.ajax({
            url: '/juso/search/list',
            type: 'POST',
            data: JSON.stringify({
                juso: juso
            }),
            contentType: "application/json",
            datatype: 'json',
            success:
                function (data) {
                    $('section div.list-group').empty();
                    for (let i = 0; i < data.length; i++) {
                        console.log(data[i])
                        let tempHtml = addHTML(data[i])
                        $('section div.list-group').append(tempHtml);
                    }
                }
            ,
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('에러 발생:', textStatus, errorThrown);
            }
        });
    }

    function addHTML(juso) {
        return `<a href="#" onclick="showMap(this)" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between"">
                <h5 class="mb-1">${juso.roadAddr}</h5>
                <div class="fs-4 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                </div>
            </div>
            <p class="mb-1">지번주소 : ${juso.jibunAddr}</p>
            <small>우편번호 : ${juso.zipNo}</small>
        </a>`
    }

    function showMap(ele){
        console.log("list요소 클릭")
        var clickedElement = ele.closest('a.list-group-item')
        var h5Element = clickedElement.querySelector("h5");
        var pElement = clickedElement.querySelector("p");
        var smallElement = clickedElement.querySelector("small");

        // 찾은 요소들을 콘솔에 출력합니다.
        console.log("h5:", h5Element.textContent);
        console.log("p:", pElement.textContent);
        console.log("small:", smallElement.textContent);

        $.ajax({
            url: "/show/map",
            type: "GET",
            data: {
                roadAddr: h5Element.textContent
            },
            success: function (response) {
                console.log("Success!");
                window.location.href = "search/map?roadAddr="+h5Element.textContent;
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                // 에러 발생 시 어떤 동작을 수행할지 여기에 작성
            }
        });
    }

</script>
</html>