<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <title>HW1</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- 외부 스타일 시트를 링크합니다. -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <script src="/js/basic.js"></script>

    <!-- layout include js -->
    <script src="/js/layout.js"></script>
    <!-- checkToken include is -->
    <script src="/js/checkToken.js"></script>
    <!-- emailCheck include is -->
    <script src="/js/checkValidation.js"></script>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

</nav>

<br>

<div id="signup-box">
    <div id="signup-title" style="text-align:center">SignUp</div>
    <input class="login-input-box" id="userid" name="userid" type="text" placeholder="ID">
    <button type="button" class="btn btn-dark" onclick="checkDuplicateID()">중복확인</button>
    <input class="password-input-box" id="password" name="password" type="password" onchange="validatePassword(this)" placeholder="PASSWORD">
    <br />
    <p id="passwordError" style="color: red; display: none;">비밀번호는 최소 8자 이상, 알파벳과 숫자 및 특수문자는 하나 이상 포함되어야 합니다.</p>
    <input class="email-input-box" id="user-email" name="email" type="email" onchange="validEmail(this)" placeholder="EMAIL(비밀번호 찾기 등 본인 확인용)">

    <hr />
    <input class="username-input-box" id="name" name="username" type="text" placeholder="USERNAME">
    <button id="signup-id-submit" onclick="submitSignupForm()">회원가입</button>

</div>

<!--footer-->
<footer class="bg-dark py-4 mt-auto">
</footer>

</body>
<script>
    var completedDuplicateCheck = false;
    // navbar ul 숨김처리
    window.onload = function (){
        const ulElement = document.querySelector('.navbar-nav');
        if(ulElement){
            console.log("함수실행")
            ulElement.style.display = 'none';
        }
    }
    $(document).ready(function () {
        // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
    });

    const host = 'http://' + window.location.host;
    function submitSignupForm() {
        //중복체크를 했는지 확인
        if(completedDuplicateCheck == true){
            let userid = $('#userid').val();
            let password = $('#password').val();
            let email = $('#user-email').val();
            let name = $('#name').val();

            $.ajax({
                type: 'POST',
                url: '/users/signup',
                contentType: 'application/json',
                data: JSON.stringify({
                    userId: userid,
                    password: password,
                    email: email,
                    name: name
                }),
                success: function (responseText) {
                    alert(`${responseText}`);
                    window.location.href = host + '/users/login'
                },
                error: function (jqXHR) {
                    const errorMessage = jqXHR.responseText;
                    alert(`${errorMessage}`);
                    window.location.href = host + '/users/signup'
                }
            });
        }
        else{
            alert("중복체크를 확인해주세요")
        }

    }

    function checkDuplicateID(){
        let userid = $('#userid').val();
        console.log("중복아이디 확인 함수 실행!");
        $.ajax({
            type : 'POST',
            url: '/users/duplication/id/check',
            data : userid,
            success: function (data){
                console.log(data);
                completedDuplicateCheck = true;
                alert(`${data}`)
            },
            error: function (jqXHR){
                const errorMessage = jqXHR.responseText;
                completedDuplicateCheck = false;
                console.log(errorMessage);
                alert("중복된 아이디입니다. 다시 입력해주세요.");
                $('#userid').empty();
            }

        });

    }
</script>
</html>